<%- include("../partials/header.ejs") %>
<div class="container topmargin">
  <div
    class="d-flex flex-column justify-content-center align-items-center m-auto loginContainer border p-3 rounded-3 bg-primary-subtle"
  >
    <div class="border-bottom border-2 border-primary w-100 text-center">
      <h1 class="fs-2">Job Portal</h1>
    </div>

    <h2 class="fs-4 mt-3">Login</h2>
    <form class="d-flex flex-column w-100">
      <input
        type="email"
        class="mb-3 mt-3 py-1 ps-1"
        name="email"
        placeholder="Enter Email"
      />
      <input
        type="password"
        class="mb-3 mt-3 py-1 ps-1"
        name="password"
        placeholder="Enter Password"
      />
      <button class="mb-3 mt-3 py-1 btn btn-primary">Login</button>
    </form>
    <p>Not have an account? <a href="/auth/register">Register</a></p>
    <p>
      <a href="/auth/forgotPassword">Forgot Password?</a>
    </p>
  </div>
</div>

<%- include("../partials/footer.ejs") %>
