@tailwind base;
@tailwind components;
@tailwind utilities;
html {
  font-size: 100%;
} /*16px*/

body {
  background: #dbe2ef;
  color: #112d4e;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 1px;
}

/* dark mode looking scrollbar */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #555;
}

::-webkit-scrollbar-thumb {
  background: #121212;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #242424;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-weight: 400;
  line-height: 1;
  text-transform: capitalize;
  letter-spacing: 1px;
}

.loginContainer {
  min-height: calc(100vh -80px);
}
.vw90 {
  width: 90vw;
}
.dashboardlayout {
  grid-template-columns: auto 1fr;
}
.animation {
  margin-left: -240px;
  transition: margin-left 0.3s ease-in-out;
}
.nav-link {
  transition: 0.3s ease-in-out all;
}
.form {
  width: 90vw;
  @apply max-w-xl bg-white rounded shadow-lg py-8 px-10 my-12 mx-auto;
}
.form-label {
  @apply block text-sm mb-3 capitalize leading-normal;
}
.form-input,
.form-textarea,
.form-select {
  @apply w-full py-1 px-3 rounded-lg bg-background2 border border-gray-300 text-gray-900 h-11;
}
.form-input,
.form-select,
.form-btn {
  @apply h-11;
}
.form-row {
  margin-bottom: 1rem;
}

.form-textarea {
  height: 7rem;
}
.tablecolumn {
  @apply text-xs lg:text-lg items-center justify-center border md:px-3 sm:px-1 py-2;
}
.detailTable {
  @apply text-xs lg:text-lg items-center justify-center border md:px-3 sm:px-1 py-2;
}

@media (max-width: 344px) {
  .detailTable,
  .tablecolumn {
    max-width: 50px;
    overflow-x: scroll;
  }
  .form {
    @apply px-3;
  }
}

@media (min-width: 1024px) {
  .form-center {
    grid-template-columns: 1fr 1fr;
    align-items: center;
    column-gap: 1fr;
  }
}
@media (min-width: 1280px) {
  .form-center {
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    column-gap: 1rem;
  }
}
.visible {
  visibility: visible;
}
.invisible {
  visibility: hidden;
}
.active {
  @apply text-hover;
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loading {
  width: 3rem;
  height: 3rem;
  border: 4px solid #64748b;
  border-radius: 50%;
  border-top-color: rgb(17, 0, 255);
  animation: spinner 0.6s linear infinite;
}

.minusheight {
  min-height: calc(100vh - 80px);
}

.categorycard {
  @apply flex flex-col justify-center items-center m-3 gap-4 border border-ascent border-opacity-10 p-5 min-w-24 hover:border-opacity-55 hover:shadow-xl hover:m-0 hover:gap-3;
}

@media (max-width: 1024px) {
  .threesteppic {
    grid-template-rows: repeat(2, minmax(0, 1fr));
  }
}

.messageHeight {
  height: calc(100vh - 290px);
}

.shadow-custom {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.image-glass {
  border-radius: 50%;
  box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.5),
    0 0 15px rgba(0, 0, 0, 0.25);
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.5),
    rgba(255, 255, 255, 0)
  );
}
